anytree==2.8.0
datasets==1.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
nltk==3.5
numpy==1.22.3
omegaconf==2.0.6
rouge_score==0.0.4
spacy==3.0.3
tensorboardX==2.4
transformers==4.8.1

--find-links https://download.pytorch.org/whl/lts/1.8/torch_lts.html
torch==1.8.2+cu111
